[Unit]
Description=Start HT_eVOLVER server
After=multi-user.target

[Service]
ExecStart=/home/pi/htevolver/bin/python /home/pi/evolver/htevolver/htevolver_server/server.py
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
